* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-image: linear-gradient(to left, black, rgb(70, 70, 70), rgb(0, 0, 0));
    background-size: 500% 100%;
    animation: degrade-animado 5s infinite alternate;
}

@keyframes degrade-animado {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 100%;
    }
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid;
}

header ul {
    display: flex;
}

header ul li {
    padding: 8px;
}

header ul li a {
    transition: 300ms;
}

header ul li a:hover {
    color: #acacac;
}

.container {
    text-align: center;
    padding-top: 80px;
}

.container .name h1 {
    font-size: 50px;
}

.container .name h5 {
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 10px;
}

.arrow {
    font-size: 35px;
    cursor: pointer;
    animation: blink 1s steps(4, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

#animation {
    transition: 300ms;
}

.rotate {
    transform: rotate(180deg);
    transition: 300ms;
}

#about {
    display: none;
}

.active {
    display: block !important;
}

#about p {
    max-width: 600px;
    margin: 0 auto;
}

.form {
    width: 40%;
    margin: 20px auto;
}

.form input {
    width: 50%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.form button {
    width: 15%;
    padding: 5px 10px;
    background: linear-gradient(to right, #888888 50%, #d6d6d6 50%);
    background-size: 200%, 100%;
    background-position: right bottom;
    color: #181717;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: all 200ms ease-out;
    border-radius: 0 5px 5px 0;
    margin-top: 10px;
    margin-left: -5px;
}

.form button:hover {
    background-position: left bottom;
    color: #ffffff;
}

@media only screen and (max-width: 900px) {
    .form {
        width: 100%;
    }
        #about p {
        max-width: 80%;
    }
}

@media only screen and (max-width: 480px) {
    .container .name h1 {
        font-size: 38px;
    }

    .container .name h5 {
        font-size: 24px;
    }


}